/* body{
    background-color: rgb(238, 231, 238);
}
.a2{background-color: rgba(252, 224, 14, 0.849);
}
.a3{background-color: rgb(27, 27, 27);
}

.a4{
    background-image: url('5..jpg');
    border-radius: 9px;
    border: 9px solid rgb(199, 199, 236); 
    width: 500px;
    height: 250px;
    background-size: 100%;
}

.ac{background-color: rgba(89, 0, 255, 0.26);}
.kl{background-attachment: fixed ;}
.dl{background-color: rgb(174, 51, 179);} */
