















































































/* .div1 {
    white-space: nowrap;
}

.div2 {
    white-space: normal;
}

.div3 {
    white-space: pre;
}

.clip {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid rgb(109, 95, 72) ;
    width: 50px;

    
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 
    margin-top: 5px;
    width: 50px;
}

.ellipsis:hover {
overflow: visible;
}

.text-shadow {
    animation: myshadow 5s infinite;
}

@keyframes myshadow {
   50%  {text-shadow: 13px 100px 1px blue;}
    } */
